h3{
  font-family: "Bricolage Grotesque";
}

button{
  padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
    border-color: none;
    background-color: rgba(255, 255, 255, 0);
}
.icon {
  padding-top:30px;
  padding-left:3px;
}


.glasscontainer {
background: rgba(255, 255, 255, 0.1);
border-radius: 36px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(37, 34, 34, 0.3);
height: 80vh;
width: 75vw;
position: absolute;
padding-left: 0;

}

.glasscontainer-main{
  background: rgba(0, 0, 0, 0.3);
  border-radius: 36px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height:100%;
  overflow: scroll;
  }

  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: auto;
    scrollbar-color: #fabefa rgb(242, 237, 237,0);
  }

  .panel{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(37, 34, 34, 0.3);
    height:250px;
    width: 40px;
    text-align: center;
    padding-top: 10px;
    margin-left:110%;
  }

  .avatar{
    width:100%;
   }
   
  @media only screen and (max-width : 667px) {
    .container{
      padding-left: 15%;
    }

    .glasscontainer {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 36px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(37, 34, 34, 0.3);
      height: 65vh;
      width: 75vw;
      position: relative;
      }

    .glasscontainer-main{
      background: rgba(11, 11, 11, 0.2);
      border-radius: 26px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      height: 67.3333333%;
      margin-top:0;
      }

      .panel{
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        height:40px;
        width: 73%;
        margin:5%;
        text-align: center;
        float:none;
      }

      .icon {
        padding-top:10px;
        padding-left:10px;
      }

     .avatar{
      width:200px;
     }

     p{
      font-size: small;
      padding-bottom:2%;
     }

     h4{
      font-size: medium;
      padding:5% 0% 0% 0%;
     }
  }
