@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
*{

	box-sizing: border-box;
	}


.skills-bar{
    margin: 5% 20%;
	width: 60%;
	background-color : rgba(238, 230, 240, 0.288);
	border-radius: 10px;
	padding: 25px 30px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(5.6px);
border-radius: 30px;
}

.skills-bar .bar{
	margin: 20px 0px;
}


.skills-bar .bar:first-child{
	margin-top: 0px;
}

.skills-bar .bar .info{
	margin-bottom: 5px;
}
.skills-bar .bar .info span{
	font-size: 17px;
	font-weight: 500;
	opacity: 0;
	animation: showText 0.5s 1.5s linear forwards;
}

@keyframes showText{
	100%{
		opacity: 1;
	}
}

.skills-bar .bar .progress-line{
	position: relative;
	height: 10px;
	width:100%;
	background-color: #f0f0f0;
	border-radius: 10px;
	transform: scaleX(0);
	transform-origin: left;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),0px 1px rgba(255,255,255,0.8);
	animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;


}
.bar .progress-line span{
	height: 100%;
	width: 80%;
	background: #8fcfcf;
	position: absolute;
	border-radius: 10px;
	transform: scaleX(0);
	transform-origin: left;
	animation: animate 1s 1s  cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate{
	100%{
		transform: scaleX(1);
	}

}

.progress-line.chinese span{
	width: 90%;
}


.progress-line.english span{
	width: 85%;
}

.progress-line.jap span{
	width: 75%;
}

.progress-line.malay span{
	width: 75%;
}


.bar .progress-line span::before{
	position: absolute;
	content: "";
	right: 0;
	top: -10px;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color:#000;
	opacity: 0;
	animation: showText2 0.5s 1.5s linear forwards;

}



.bar .progress-line span::after{
	position: absolute;
	right: 0;
	top: -28px;
	background: #000;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	padding: 1px 8px;
	border-radius: 3px;
	opacity: 0;
	animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2{
	100%{
		opacity: 1;
	}
}


.progress-line.chinese span::after{
	content: "90%";
}


.progress-line.english span::after{
	content: "85%";
}

.progress-line.jap span::after{
	content: "75%";
}

.progress-line.malay span::after{
	content: "75%";
}


@media only screen and (max-width : 667px) {     .skills-bar{
	margin: 10% 0%;
  width: 100%;
  background-color : rgba(238, 230, 240, 0.288);
  border-radius: 10px;
  padding: 25px 30px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
	backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(5.6px);
border-radius: 30px;
}
}



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

/* for the timeline */
.specific-div{
	*,
	*::before,
	*::after {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
	
	ul {
	  --col-gap: 2rem;
	  --row-gap: 2rem;
	  --line-w: 0.25rem;
	  display: grid;
	  grid-template-columns: var(--line-w) 1fr;
	  grid-auto-columns: max-content;
	  column-gap: var(--col-gap);
	  list-style: none;
	  width: min(60rem, 90%);
	  margin-inline: auto;
	}
	
	/* line */
	ul::before {
	  content: "";
	  grid-column: 1;
	  grid-row: 1 / span 20;
	  background: rgb(225, 225, 225);
	  border-radius: calc(var(--line-w) / 2);
	}
	
	/* columns*/
	
	/* row gaps */
	ul li:not(:last-child) {
	  margin-bottom: var(--row-gap);
	}
	
	/* card */
	ul li {
	  grid-column: 2;
	  --inlineP: 1.5rem;
	  margin-inline: var(--inlineP);
	  grid-row: span 2;
	  display: grid;
	  grid-template-rows: min-content min-content min-content;
	}
	
	/* date */
	ul li .date {
	  --dateH: 3rem;
	  height: var(--dateH);
	  margin-inline: calc(var(--inlineP) * -1);
	
	  text-align: center;
	  background-color: var(--accent-color);
	
	  color: rgb(14, 8, 8);
	  font-size: 1.25rem;
	  font-weight: 700;
	
	  display: grid;
	  place-content: center;
	  position: relative;
	
	  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
	}
	
	/* date flap */
	ul li .date::before {
	  content: "";
	  width: var(--inlineP);
	  aspect-ratio: 1;
	  background: var(--accent-color);
	  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
	  position: absolute;
	  top: 100%;
	
	  clip-path: polygon(0 0, 100% 0, 0 100%);
	  right: 0;
	}
	
	/* circle */
	ul li .date::after {
	  content: "";
	  position: absolute;
	  width: 2rem;
	  aspect-ratio: 1;
	  background: var(--bgColor);
	  border: 0.3rem solid var(--accent-color);
	  border-radius: 50%;
	  top: 50%;
	
	  transform: translate(50%, -50%);
	  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
	}
	
	/* title descr */
	ul li .title,
	ul li .descr {
	  background: var(--bgColor);
	  position: relative;
	  padding-inline: 1.5rem;
	}
	ul li .title {
	  overflow: hidden;
	  padding-block-start: 0rem;
	  padding-block-end: 1rem;
	  font-weight: 500;
	}
	ul li .descr {
	  padding-block-end: 1.5rem;
	  font-weight: 300;
	  padding-block-start: 1.5rem;
	}
	
	/* shadows */
	ul li .title::before,
	ul li .descr::before {
	  content: "";
	  position: absolute;
	  width: 90%;
	  height: 0.5rem;
	  background: rgba(0, 0, 0, 0.5);
	  left: 50%;
	  border-radius: 50%;
	  filter: blur(4px);
	  transform: translate(-50%, 50%);
	}
	ul li .title::before {
	  bottom: calc(100% + 0.125rem);
	}
	
	ul li .descr::before {
	  z-index: -1;
	  bottom: 0.25rem;
	}
	
	@media (min-width: 40rem) {
	  ul {
		grid-template-columns: 1fr var(--line-w) 1fr;
	  }
	  ul::before {
		grid-column: 2;
	  }
	  ul li:nth-child(odd) {
		grid-column: 1;
	  }
	  ul li:nth-child(even) {
		grid-column: 3;
	  }
	
	  /* start second card */
	  ul li:nth-child(2) {
		grid-row: 2/4;
	  }
	
	  ul li:nth-child(odd) .date::before {
		clip-path: polygon(0 0, 100% 0, 100% 100%);
		left: 0;
	  }
	
	  ul li:nth-child(odd) .date::after {
		transform: translate(-50%, -50%);
		left: calc(100% + var(--col-gap) + var(--line-w) / 2);
	  }
	  ul li:nth-child(odd) .date {
		border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
	  }
	}
	
	.credits {
	  margin-top: 1rem;
	  text-align: right;
	}
	.credits a {
	  color: var(--color);
	}

	@media only screen and (max-width : 667px) {     
		ul li .descr {
			padding-block-end: 1.5rem;
			padding: 5% 0% 10% 0%;
			font-size: medium;
		  }
	
	ul li .date {
		--dateH: 2rem;
		height: var(--dateH);
		margin-inline: calc(var(--inlineP) * -1);
	  
		text-align: center;
		background-color: var(--accent-color);
	  
		color: rgb(14, 8, 8);
		font-size: 1.25rem;
		font-weight: 700;
	  
		display: grid;
		place-content: center;
		position: relative;
		border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
	  }
	
	  h3{
    font-size:large;
	padding-top: 2%;
	font-weight:bolder;
	}

	ul{
		margin-left:0%;
		margin-right: 0%;
	}

	.descr{
		width:250px;
	   }
	}
}

