body{
  background-color: black;
  font-family: Fira Sans;
  color:white;
  margin: 0;
  border: 0;
}

h1{
  font-family: Dancing Script;
    font-size: 60px;
}
h3{
  font-family: Shadows Into Light;
  font-weight: bolder;
  padding-top:20px;

}
hr{
  margin: 0 0 0 0;
  padding:0;
}

p{
  font-family: Fira Sans;
  margin-bottom: 0;
  border-bottom:0 ;
}
.end{
  padding-top:200px;
}

.transparent{
background: rgba(255, 255, 255, 0.1);
box-shadow: 0 4px 30px rgba(255, 255, 255, 0.678);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
width:200px;
height:1000%;
}

.mainbg{
  padding-left:300px;
  padding-top:200px;
}

.avatar{
  background-color: white;
  border-radius: 50%;
  width: 100px;
}


@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: Alfa Slab One;
  position: relative;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}


.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 90%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.act{
  width:100px;
  border-radius: 50%;
  background-color: white;
  
}

a:link {text-decoration:none; }
a:visited {text-decoration:none}
a:hover {color:rgba(114, 185, 217, 0.675)}
a:active {text-decoration:none;}

a{
  color:white;
}

.carselimg{
  width:400px;
  height:650px;
  text-align: center;
}