.glassBox, .glassBox * {
    box-sizing: border-box;
    transition: 400ms;
  }
  
  
  .glassBox__imgBox img {
    display: block;
    width: 400px;
    height: auto;

    text-align: center;
    margin-top:10%;
    margin-left:30%;
  }
  
  .glassBox__title {
    text-align: center;
    margin-top: 15px;
  }
  
  .glassBox__content {
    position: absolute;
    right: 15px;
    bottom: 15px;
    left: 15px;
    text-align: center;
    letter-spacing: .1em;
    opacity: 0;
  }
  
  .glassBox:hover .glassBox__imgBox {
    transform: translateY(-50px);
  }
  
  .glassBox:hover .glassBox__imgBox img {
    transform: translate(-20px, -40px) rotate(-5deg) scale(1.4);
  }
  